*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
}

.project {
  width: 20%;
  height: 15rem;
  border: 1px solid black;
}

.heading__primary {
  text-align: center;
  padding: 4rem;
}
